.item-sheet {
  background: var(--background_dialog);
  font-family: "pillgothic";
  font-weight: bold;
  color: black;
}
.item-sheet .item-header .name-title {
  display: grid;
  grid-template-columns: 60px 1fr ;
  font-size: 20px;
  background: #97141c;
  border: solid 2px black;
  text-align: center;
  padding: 10px;
  color: white;
}
.item-sheet .item-header .name-title img {
  border: 0px;
  max-height: 50px;
  grid-row: 1/3;
}
.item-sheet .item-header .name-title input {
  font-family: "codepro";
  font-weight: bold;
  border: 0px;
  background: #97141c;
  width: 15em;
}
.item-sheet .item-header .change-lock {
  width: 20px;
  grid-row: 2/3;
  grid-column: 2/3;
}
.item-sheet .item-header .change-lock i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
}
.item-sheet input {
  width: 3em;
  color: black;
  background: rgba(0, 0, 0, 0.05);
}
.item-sheet select {
  width: 10em;
  color: black;
  background: rgba(0, 0, 0, 0.05);
}
.item-sheet .input-large input {
  width: 15em;
}
.item-sheet .input-large select {
  width: 15em;
}
.item-sheet .form-group {
  display: flex;
  align-items: center;
}
.item-sheet .form-group label {
  width: 150px;
}
.item-sheet .form-group .form-fields {
  margin: 3px;
}
.item-sheet .item-description {
  font-family: "pillgothic";
  font-weight: normal;
}
.item-sheet .item-description .editor {
  min-height: 235px;
}
.item-sheet .item-description .editor-content {
  min-height: 235px;
  font-weight: normal;
  margin: 0px 5px;
  background: rgba(0, 0, 0, 0.05);
}
.item-sheet .item-description .editor-menu {
  color: black;
  background: rgba(0, 0, 0, 0.6);
}
.action-chat {
  background-color: #394e55;
  background: var(--background_chat);
  display: flex;
  flex-direction: column;
}
.action-chat img {
  border: 0px;
}
.action-chat .centerimg {
  display: flex;
  justify-content: center;
}
.action-chat .intro-chat {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.action-chat .intro-chat .intro-img {
  padding: 5px;
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}
.action-chat .intro-chat .intro-right {
  display: flex;
  flex-direction: column;
}
.action-chat .intro-chat .intro-right .introText {
  font-family: "alexbrush";
  font-size: 1.8em;
  width: 210px;
  padding-top: 0.5em;
  text-align: center;
}
.action-chat .resultText {
  font-family: "alexbrush";
  font-size: 2em;
  text-align: center;
}
.action-chat .dice-result {
  font-family: "garamondpro";
  font-size: 1.2em;
  text-align: center;
}
.action-chat .diceicon {
  min-width: 24px;
  line-height: 24px;
  background-image: url("/icons/svg/d20-grey.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  margin-top: 10px;
}
.action-chat .formulatooltip {
  position: relative;
  display: inline-block;
}
.action-chat .formulatooltip .tooltiptext {
  visibility: hidden;
  font-size: 12px;
  width: 30px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}
.action-chat .formulatooltip:hover .tooltiptext {
  visibility: visible;
}
.dialog-jet-action {
  background: var(--background_dialog);
  font-family: "pillgothic";
  font-weight: bold;
}
.dialog-jet-action input {
  width: 4em;
}
.dialog-jet-action .dialog-intro {
  font-family: "codepro";
  font-weight: bold;
  font-size: 22px;
  background: #97141c;
  color: white;
  border: solid 2px black;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.dialog-jet-action .dialog-grid {
  grid-template-columns: 235px 235px;
  margin: 15px 10px 10px 10px;
  display: grid;
}
.dialog-jet-action .left_col {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  border: solid black;
  padding: 5px;
}
.dialog-jet-action .right_col {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  padding-left: 40px;
}
.dialog-jet-action .dialog-colgrid {
  display: grid;
  grid-template-columns: 110px 80px;
  grid-template-rows: 40px;
  margin-top: 10px;
}
.dialog-jet-action .comp-titre {
  margin-top: 10px;
  align-self: center;
}
.dialog-jet-action .dialog-button {
  padding: 10px;
  border: solid 2px black;
  border-radius: 20px;
  margin: 20px 0px 0px 10px;
  width: 170px;
}
.magna_journal {
  background: var(--background_journaux);
  font-family: "pillgothic";
  color: black;
  text-align: justify;
  font-size: 16px;
  padding: 5px 5px 20px 5px;
}
.magna_journal h1 {
  font-family: "codepro";
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-align: left;
  padding: 20px 0px 10px 0px;
  text-transform: uppercase;
  border: 0px;
}
.magna_journal h2 {
  font-family: "pillgothic";
  font-weight: bold;
  font-size: 22px;
  color: black;
  text-align: left;
  padding-top: 10px;
  text-transform: uppercase;
  border-bottom: solid black 2px;
}
.magna_journal h3 {
  font-family: "pillgothic";
  font-size: 19px;
  color: #97141c;
  text-align: left;
  padding-top: 10px;
  text-transform: uppercase;
  border: 0px;
}
.magna_journal p {
  text-indent: 1em;
}
.magna_journal .no-indent {
  text-indent: 0px;
}
.magna_journal .far {
  text-indent: 0em;
}
.magna_journal .fad {
  text-indent: 0em;
}
.magna_journal .fas {
  text-indent: 0em;
}
.magna_journal ul {
  list-style-type: square;
}
.magna_journal li::marker {
  color: #97141c;
}
.magna_journal table {
  width: auto;
  border: 1px solid black;
}
.magna_journal th {
  background-color: #97141c;
  color: white;
  text-align: center;
  border: 1px solid black;
}
.magna_journal tr:nth-child(even) {
  background-color: #faf3f0;
}
.magna_journal tr:nth-child(odd) {
  background-color: #f4e6e2;
}
.magna.sheet.actor .window-content {
  background: no-repeat url("../assets/system/fond_fdp.webp") rgba(80, 20, 18, 0.8);
  font-family: "pillgothic";
  padding-top: 0.5rem;
}
.magna.sheet.actor .pnj {
  background: no-repeat url("../assets/system/fond_pnj.webp") rgba(80, 20, 18, 0.8);
}
.magna.sheet.actor .editor {
  width: 100%;
  height: 100%;
  background-color: #f9f6f1;
  background: var(--background_base);
  box-shadow: inset 0 0 6px black;
  font-family: "pillgothic";
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 5em;
}
.magna.sheet.actor .editor-content {
  min-height: 5em;
  margin: 0px 5px 0px 5px;
}
.magna.sheet.actor h2 {
  font-family: "codepro";
  font-weight: bold;
  font-size: 18px;
  background: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 0px;
}
.magna.sheet.actor .pj-sheet {
  display: grid;
  gap: 5px;
  color: var(--font-pj-color);
}
.magna.sheet.actor .actor-header {
  display: grid;
  grid-template-columns: 50px 90px 360px 170px;
  grid-template-rows: 35px 35px 50px;
}
.magna.sheet.actor .actor-header .tablist {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 21px;
  border: none;
}
.magna.sheet.actor .actor-header .tablist .choix_tab {
  line-height: 5px;
  font-size: 15px;
}
.magna.sheet.actor .actor-header .actor-portrait {
  grid-row: 1/4;
  grid-column: 2/3;
  border: none;
  margin: 5px;
  justify-self: end;
  width: 90px;
  height: 60px;
  z-index: 2;
}
.magna.sheet.actor .actor-header .actor-portrait img {
  border-radius: 50%;
}
.magna.sheet.actor .actor-header .charname {
  grid-row: 1/3;
  grid-column: 3/4;
  display: flex;
}
.magna.sheet.actor .actor-header .charname input {
  background: rgba(0, 0, 0, 0.25);
  font-size: 32px;
  color: white;
  text-align: left;
  border: none;
  height: 100%;
}
.magna.sheet.actor .actor-header .change-lock {
  width: 20px;
  color: white;
  grid-row: 3/4;
  grid-column: 1/2;
  padding-top: 5px;
}
.magna.sheet.actor .actor-header .change-lock i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
}
.magna.sheet.actor .actor-header .aura {
  display: flex;
  flex-direction: row;
  width: 80px;
  grid-row: 3/4;
  grid-column: 3/4;
  font-size: 20px;
  color: white;
  border: solid white 2px;
  border-radius: 10px;
  margin-left: 52px;
}
.magna.sheet.actor .actor-header .aura i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 30px;
  height: 100%;
  border: none;
}
.magna.sheet.actor .actor-header .aura .val_stats {
  margin: 12px 0px 0px 0px;
}
.magna.sheet.actor .actor-header .bloc_stats {
  display: grid;
  margin-left: 10px;
  align-items: center;
  grid-template-columns: 85px 50px 20px;
  grid-template-rows: 35px;
}
.magna.sheet.actor .actor-header .bloc_stats .nom_stat {
  font-size: 18px;
  color: white;
  margin: 5px 5px 3px 5px;
  text-transform: uppercase;
}
.magna.sheet.actor .actor-header .bloc_stats .val_stats {
  color: white;
  font-size: 15px;
  margin: 5px 5px 3px 5px;
}
.magna.sheet.actor .actor-header .bloc_stats .val_stats input {
  background: rgba(0, 0, 0, 0.25);
  width: 2em;
  color: white;
  font-size: 15px;
}
.magna.sheet.actor .ligne_caract {
  display: flex;
  flex-direction: row;
}
.magna.sheet.actor .zone_carac {
  flex-direction: column;
  width: 250px;
}
.magna.sheet.actor .zone_indices {
  flex-direction: column;
  margin-left: 20px;
}
.magna.sheet.actor .grid_carac {
  margin-top: 15px;
  margin-left: 45px;
  padding-top: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 75px 70px 70px;
  grid-template-rows: 75px 70px 70px;
}
.magna.sheet.actor .grid_carac .margin_caracteristique {
  margin: 0px;
}
.magna.sheet.actor .grid_carac .PSI {
  margin-top: -70px;
  margin-left: -14px;
  background: no-repeat url("../assets/system/hexa_r.webp");
}
.magna.sheet.actor .grid_carac .CHA {
  margin-top: -75px;
  margin-left: -14px;
}
.magna.sheet.actor .grid_carac .INS {
  margin-top: -75px;
  margin-left: -14px;
}
.magna.sheet.actor .grid_carac .PER {
  margin-left: -23px;
}
.magna.sheet.actor .grid_carac .INT {
  margin-left: -23px;
}
.magna.sheet.actor .grid_carac .VOL {
  margin-left: -23px;
}
.magna.sheet.actor .grid_indices {
  margin-top: -7px;
  margin-left: 47px;
  display: grid;
  align-items: center;
  grid-template-columns: 75px 70px 70px 70px 70px 10px;
  grid-template-rows: 75px 50px;
}
.magna.sheet.actor .grid_indices .margin_indices {
  margin: 4px 0px 0px -3px;
}
.magna.sheet.actor .grid_indices .cac {
  margin-left: -47px;
}
.magna.sheet.actor .grid_indices .cacpsi {
  margin-top: 71px;
  margin-left: -64px;
  background: no-repeat url("../assets/system/hexa_r.webp");
}
.magna.sheet.actor .grid_indices .cacpsi .nom_caracteristique {
  font-size: 11px;
  width: 42px;
  margin: 10px 10px;
}
.magna.sheet.actor .grid_indices .dist {
  margin-left: -76px;
}
.magna.sheet.actor .grid_indices .distpsi {
  margin-top: 71px;
  margin-left: -88px;
  background: no-repeat url("../assets/system/hexa_r.webp");
}
.magna.sheet.actor .grid_indices .distpsi .nom_caracteristique {
  font-size: 11px;
  width: 42px;
  margin: 10px 10px;
}
.magna.sheet.actor .grid_indices .ref {
  margin-left: -99px;
}
.magna.sheet.actor .grid_indices .refpsi {
  margin-top: 71px;
  margin-left: -109px;
  background: no-repeat url("../assets/system/hexa_r.webp");
}
.magna.sheet.actor .grid_indices .refpsi .nom_caracteristique {
  font-size: 12px;
  width: 42px;
  margin: 10px 10px;
}
.magna.sheet.actor .bloc_caracteristique {
  background: no-repeat url("../assets/system/hexa.webp");
  display: grid;
  grid-template-columns: 20px 45px;
  grid-template-rows: 24px 22px 15px;
  padding-left: 6px;
  text-align: center;
}
.magna.sheet.actor .bloc_caracteristique .nom_caracteristique {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 14px;
  color: black;
  margin-top: 4px;
  margin-left: -3px;
  text-transform: uppercase;
  font-weight: bold;
}
.magna.sheet.actor .bloc_caracteristique .val_caracteristique {
  color: #31191f;
  font-size: 21px;
  font-weight: bold;
}
.magna.sheet.actor .bloc_caracteristique .val_caracteristique input {
  background: rgba(0, 0, 0, 0.15);
  color: #31191f;
  width: 1.3em;
  margin: -4px 0px 0px 3px;
  border: 0px;
  font-weight: bold;
  border-radius: 15px;
}
.magna.sheet.actor .bloc_caracteristique .attribut-icon {
  font-size: 14px;
  color: #31191f;
  margin: 0px;
}
.magna.sheet.actor .grid_comp {
  display: grid;
  align-items: center;
  background: no-repeat url("../assets/system/fond_comp.webp");
  grid-template-columns: 170px 170px 170px 170px;
  grid-auto-rows: 25px;
}
.magna.sheet.actor .zone_compcombat img {
  border: 0px;
}
.magna.sheet.actor .grid_spe {
  display: grid;
  align-items: center;
  background: no-repeat url("../assets/system/fond_compspe.webp");
  grid-template-columns: 170px 170px 170px 170px;
}
.magna.sheet.actor .bloc_vertical {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.magna.sheet.actor .bloc_vertical .titre_compspe {
  font-family: "codepro";
  font-weight: bold;
  font-size: 15px;
  background: #f9f6f1;
  color: black;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}
.magna.sheet.actor .bloc_vertical .plusicon {
  align-self: center;
  color: black;
}
.magna.sheet.actor .bloc_comp {
  display: grid;
  grid-template-columns: 130px 35px;
  margin: 1px 2px 2px 0px;
  padding-left: 20px;
  height: 22px;
}
.magna.sheet.actor .bloc_comp .nom_comp {
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.magna.sheet.actor .bloc_comp .nom_comp input {
  font-size: 15px;
  height: 18px;
}
.magna.sheet.actor .bloc_comp .val_comp {
  color: #31191f;
  font-weight: bold;
  align-self: center;
  font-size: 18px;
}
.magna.sheet.actor .bloc_comp .val_comp input {
  width: 2em;
  font-size: 15px;
  height: 18px;
}
.magna.sheet.actor .bloc_comp .attribut-icon {
  font-size: 14px;
  color: #31191f;
  margin: 5px 5px 3px 5px;
}
.magna.sheet.actor .grid_combat {
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 27px 27px 27px 27px;
}
.magna.sheet.actor .grid_combat .bloc_comp {
  display: grid;
  background: no-repeat url("../assets/system/cadrebiais.webp");
  grid-template-columns: 130px 35px;
  margin: 2px;
  padding-left: 20px;
  height: 22px;
}
.magna.sheet.actor .bloc_arme {
  display: grid;
  grid-template-columns: 110px 70px;
  background: no-repeat url("../assets/system/cadrebiais.webp");
  margin: 2px;
  padding-left: 2px;
  border-radius: 5px;
}
.magna.sheet.actor .bloc_arme .nom_comp {
  margin-left: 15px;
  font-weight: bold;
  align-self: center;
  font-size: 16px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.magna.sheet.actor .bloc_arme .val_comp {
  color: #31191f;
  font-weight: bold;
  align-self: center;
  font-size: 18px;
}
.magna.sheet.actor .bloc_arme .val_comp input {
  width: 2em;
}
.magna.sheet.actor .bloc_arme .attribut-icon {
  font-size: 14px;
  color: #31191f;
  margin: 5px 5px 3px 5px;
}
.magna.sheet.actor .bloc-voie {
  background: no-repeat url("../assets/system/fond_pouv.webp");
  border: solid 3px #316967;
}
.magna.sheet.actor .bloc-voie .titre_voie {
  font-family: "codepro";
  font-weight: bold;
  font-size: 20px;
  background: rgba(139, 68, 68, 0.315);
  color: black;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}
.magna.sheet.actor .bloc-voie .desc {
  margin: 5px 10px;
}
.magna.sheet.actor .bloc-voie .desc p {
  font-weight: normal;
  text-align: justify;
}
.magna.sheet.actor .bloc-pouvoir {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  color: black;
}
.magna.sheet.actor .ligne-pouvoir {
  display: flex;
  flex-direction: row;
  margin: 5px;
  color: #31191f;
}
.magna.sheet.actor .ligne-pouvoir .pouvoir-rang {
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.magna.sheet.actor .ligne-pouvoir .change-aura {
  margin: 0px 5px;
}
.magna.sheet.actor .ligne-pouvoir .pouvoir-name {
  margin: 0px 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.magna.sheet.actor .ligne-pouvoir .field-name {
  margin-right: 5px;
  font-weight: bold;
}
.magna.sheet.actor .ligne-pouvoir .pouvoir-value {
  font-weight: normal;
  margin-right: 15px;
}
.magna.sheet.actor .desc {
  color: #31191f;
}
.magna.sheet.actor .description-bloc {
  background: repeat url("../assets/system/fond_pouv.webp");
  padding: 5px;
  border: solid 3px #316967;
  color: black;
}
.magna.sheet.actor .description-bloc .editor {
  width: 100%;
  height: 100%;
  background-color: #f9f6f1;
  background: var(--background_base);
  box-shadow: inset 0 0 6px black;
  font-family: "garamond";
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 45em;
}
.magna.sheet.actor .description-bloc .editor-content {
  min-height: 40em;
  margin: 0px 5px 0px 5px;
}
.prosemirror menu {
  font-size: 0.8em;
}
.prosemirror menu li {
  margin: 0px 0px;
}
.scrollable {
  padding-right: initial;
  scrollbar-gutter: auto;
}
.scrollable .window-content {
  overflow-y: scroll;
}
@font-face {
  font-family: "codepro";
  src: url("../assets/fonts/code_light.otf") format("truetype");
}
@font-face {
  font-family: "codepro";
  src: url("../assets/fonts/code_bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "pillgothic";
  src: url("../assets/fonts/pillgothic_regular.ttf") format("truetype");
}
@font-face {
  font-family: "pillgothic";
  src: url("../assets/fonts/pillgothic_bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "pillgothic";
  src: url("../assets/fonts/pillgothic_it.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "pillgothic";
  src: url("../assets/fonts/pillgothic_bold_it.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
:root {
  --font-pj-color: black;
  --background_pj: no-repeat url("../assets/system/fond_fdp.webp") rgba(80, 20, 18, 0.8);
  --background_chat: repeat url("../assets/system/fond_chat.webp") white;
  --background_dialog: repeat url("../assets/system/fond_dialog.webp") white;
  --background_journaux: repeat url("../assets/system/fond_journaux.webp") white;
  --font-pj-name: 30px "garamond";
  --font-pj-name-color: black;
  --font-pj-indications: 15px "garamond";
  --font-pj-indications-color: black;
  --font-pj-titre: 30px "garamond";
  --font-pj-titre-color: black;
  --font-pj-pv: 15px "garamond";
  --font-pj-pv-color: black;
  --font-pj-label: 15px "garamond";
  --font-pj-label-color: black;
  --font-pj-comp-lbl-color: black;
  --font-pj-nb: 20px "garamond";
  --font-pj-nb-color: black;
}
