.arme-sheet {
  background: var(--background_dialog);
  font-family: "pillgothic";
  font-weight: bold;
  input {
    width: 15em;
    color: white;
  }
  .name-title {
    display: flex;
    font-size: 22px;
    background: #97141c;
    border: solid 2px black;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    img {
      border: 0px;
      max-height: 50px;
    }
    input {
      font-family: "codepro";
      font-weight: bold;
      border: 0px;
    }
  }
  .arme-content {
    display: grid;
    grid-template-columns: 150px 50px;
    margin-bottom: 20px;
    .domaine-name {
      margin: 5px;
    }
    .field-name {
      margin: 5px;
    }
    input {
      width: 2em;
      color: black;
    }
    select {
      width: 10em;
    }
  }
  .editor {
    min-height: 235px;
  }
  .editor-content {
    min-height: 235px;
    font-weight: normal;
    margin: 0px 5px;
    background: rgba(0, 0, 0, 5%);
  }
}
