.dialog-jet-action {
  .dialog-grid {
    display: grid;
    grid-template-columns: 150px 150px 170px;
  }
  .dialog-intro {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    font-size: 1.5em;
    align-self: center;
  }
  .mod-grid {
    display: grid;
    grid-template-columns: 230px 230px;
    margin-top: 20px;
  }
  .modificateur {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .opposition {
    display: flex;
    flex-direction: row;
    margin: 10px;
    input {
      width: 4em;
    }
  }
  .dialog-button {
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
    margin: 5px 260px;
    width: 170px;
  }
}
