.magna_journal {
  background: var(--background_journaux);
  font-family: "pillgothic";
  text-align: justify;
  font-size: 16px;
  h1 {
    font-family: "codepro";
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: left;
    padding: 20px 0px 10px 0px;
    text-transform: uppercase;
    border: 0px;
  }
  h2 {
    font-family: "pillgothic";
    font-weight: bold;
    font-size: 22px;
    color: black;
    text-align: left;
    padding-top: 10px;
    text-transform: uppercase;
    border-bottom: solid black 2px;
  }
  h3 {
    font-family: "pillgothic";
    font-size: 19px;
    color: #97141c;
    text-align: left;
    padding-top: 10px;
    text-transform: uppercase;
    border: 0px;
  }
}
