@import "./pj.less";
@import "./pouvoir.less";
@import "./dialog.less";
@import "./chat.less";

.prosemirror menu {
  font-size: 0.8em;
  li {
    margin: 0px 0px;
  }
}

:root {
  --font-pj-color: black;
  --background_pj: white;
  --font-pj-name: 30px "garamond";
  --font-pj-name-color: black;
  --font-pj-indications: 15px "garamond";
  --font-pj-indications-color: black;
  --font-pj-titre: 30px "garamond";
  --font-pj-titre-color: black;
  --font-pj-pv: 15px "garamond";
  --font-pj-pv-color: black;
  --font-pj-label: 15px "garamond";
  --font-pj-label-color: black;
  --font-pj-comp-lbl-color: black;
  --font-pj-nb: 20px "garamond";
  --font-pj-nb-color: black;
}

