<div class="magna_journal">
  <h1>Durée d'activation et contrecoup</h1>
  <p>Un pouvoir se coupe sur la simple volonté de son possesseur. Quand le joueur décide d’arrêter le pouvoir de son personnage, ce dernier ressent une douleur dans la nuque qui
    lui vrille le cerveau. Pour savoir si le personnage résiste à cette douleur, le joueur effectue un test de Mental (SR = valeur actuelle de Mental). Si ce test est réussi (écart
    inférieur à 10), il ne se passe rien de plus qu’une sensation de tournis maîtrisée qui n’altère pas ses actions.</p>
  <ul>
    <li>Si ce test est très réussi (écart de 10 ou plus), la douleur disparaît d’un coup et le personnage regagne 1 pt de Mental (sans dépasser son maximum).</li>
    <li>Si ce test est raté (écart entre - 1 et - 9), le joueur retranche des points de Mental à son personnage selon la durée d’utilisation (cf. tableau de durée d’activation). Le
      personnage doit interrompre ce qu’il fait pendant 3 secondes (un tour de jeu), période nécessaire à la douleur pour devenir supportable.</li>
    <li>Si ce test est particulièrement raté (écart de - 10 ou plus), les points à perdre sont doublés et le personnage doit s’interrompre pendant 6 secondes (deux tours de jeu)
      avant que la douleur ne s’estompe.</li>
  </ul>
  <p>Si un personnage doit arrêter plusieurs pouvoirs, le joueur réalise un test pour chacun de ses pouvoirs. Chaque échec entraînant d’éventuelles pertes de Mental, les tests
    suivants sont plus difficiles et potentiellement plus dangereux pour le personnage.</p>
  <table>
    <tbody><tr>
        <th>
          <p>Durée d’activation</p>
        </th>
        <th>
          <p>1-5 pouvoirs</p>
        </th>
        <th>
          <p>6-10 pouvoirs</p>
        </th>
        <th>
          <p>11 pouvoirs et +</p>
        </th>
      </tr><tr>
        <td>
          <p>qq secondes</p>
        </td>
        <td>
          <p>1 pt</p>
        </td>
        <td>
          <p>1 pt</p>
        </td>
        <td>
          <p>0 pt</p>
        </td>
      </tr><tr>
        <td>
          <p>1 min environ</p>
        </td>
        <td>
          <p>2 pts</p>
        </td>
        <td>
          <p>1 pt</p>
        </td>
        <td>
          <p>1 pt</p>
        </td>
      </tr><tr>
        <td>
          <p>3 min environ</p>
        </td>
        <td>
          <p>3 pts</p>
        </td>
        <td>
          <p>2 pts</p>
        </td>
        <td>
          <p>1 pt</p>
        </td>
      </tr><tr>
        <td>
          <p>5 min environ</p>
        </td>
        <td>
          <p>4 pts</p>
        </td>
        <td>
          <p>3 pts</p>
        </td>
        <td>
          <p>2 pts</p>
        </td>
      </tr><tr>
        <td>
          <p>5 min supplémentaires</p>
        </td>
        <td>
          <p>4 pts</p>
        </td>
        <td>
          <p>3 pts</p>
        </td>
        <td>
          <p>2 pts</p>
        </td>
      </tr></tbody>
  </table>
</div>