<div class="magna_journal">
  <h1>Table de la zone de perception des auras</h1>
  <table>
    <tbody><tr>
        <th>
          <p>Nombre de pouvoirs acquis</p>
        </th>
        <th>
          <p>Zone de perception</p>
        </th>
      </tr><tr>
        <td>
          <p>1-2</p>
        </td>
        <td>
          <p>5 m</p>
        </td>
      </tr><tr>
        <td>
          <p>3-5</p>
        </td>
        <td>
          <p>50 m</p>
        </td>
      </tr><tr>
        <td>
          <p>6-10</p>
        </td>
        <td>
          <p>250 m</p>
        </td>
      </tr><tr>
        <td>
          <p>11-15</p>
        </td>
        <td>
          <p>1 km</p>
        </td>
      </tr></tbody>
  </table>
  <p>Avec un test réussi de
    <strong>PSI + INS</strong>, le personnage peut ressentir d’autres auras latentes dans l’environnement proche (jusqu’à 5 m) à travers toutes les matières, percevant leur
    localisation, leur intensité et la taille approximative des corps desquels elles émanent.</p><p>Grâce à un test réussi de
    <strong>PSI + INT</strong>
    le personnage peut « compter » les pouvoirs actifs d’un individu, grâce à l’intensité cumulée de ses auras actives.</p><p>Quand le personnage a développé son troisième pouvoir,
    il n’a plus besoin de test pour ressentir les auras à proximité, passives ou actives, leur intensité, leur nombre, etc. Il reconnaît également les auras qu’il a l’habitude de
    côtoyer et peut identifier un individu grâce à son aura, sans le voir. Un test de
    <strong>PSI + PER</strong>
    est tout de même nécessaire pour percevoir les auras plus éloignées (jusqu’à 50 m environ). Il commence également à ressentir des différences de vibration entre les auras sans
    être capable d’y donner un sens.</p><p>Au sixième pouvoir développé, un individu perçoit (sans test) les auras dans les 250 m autour de lui. Il perçoit de très nettes
    différences de vibrations entre les individus et peut commencer à lier un type d’effets à un type de vibrations ressenti (en réussissant un test de
    <strong>PSI + INS</strong>) et donc à reconnaître reconnaître un domaine déjà croisé par le passé.</p>
</div>