<div class="magna_journal">
  <h1 style="margin-top: -6px">Guide du système</h1>
  <p class="intro_chap">
    Bienvenue dans le système pour le jeu de rôle
    <em><strong>MAGNA</strong></em>, de
    <strong>Tony Champclos</strong>, édité par
    <em>Les XII singes</em>. Ce système pour FoundryVTT a été développé par Khaali.
  </p>
  <h2>Feuilles de personnage</h2>
  <p>Le système propose deux types de feuilles : PJ et PNJ. Les différences sont les suivantes :</p>
  <ul>
    <li>Les feuilles de PJs ont un champ PEX</li>
    <li>Les feuilles de PNJs ont un format d'affichage plus simple lorsqu'elles sont verrouillées</li>
  </ul>
  Caractéristiques et indices
  Compétenes spécialisées
  <h2>Jets de dés</h2>
  <h2>Pouvoirs</h2>
  <h2>Combats</h2>
  <h3>Initiative</h3>
  <h3>Jets</h3>
  <h3>Dégâts</h3>
  

</div>