<div class="ongletdesc">
  <div class="description-bloc">
      <h2>Description</h2>
      {{#if editable}}
        {{editor descriptionHTML target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
      {{else}}
        {{{descriptionHTML}}}
      {{/if}}
  </div>
</div>