<div class="arme-content">
  {{formGroup systemFields.degats value=system.degats disabled=locked}}
  {{formGroup systemFields.competence value=system.competence localize=true classes="input-large" disabled=locked}}
</div>