{{log "contrecoup dialog" this}}
<form class="dialog-jet-action">
  <section class="content">
    <div class="pex-dialog">
      <div style="width:100%; text-align:center">
        <h3>Calcul du contrecoup</h3>
        <div class="comp-titre">
          <select class="changefield" name="contrecoup" data-action="contrecoup-change">
            {{selectOptions contrecoups selected="duree1" labelAttr="label"}}
          </select>
        </div>
      </div>
    </div>
  </section>
</form>