<form class="dialog-jet-action">
    <div class="pex-dialog">
    <div style="width:100%; text-align:center">
        <h3>Valeur en Pex à la création</h3>
       <div class="comp-titre">Valeur actuelle : {{coutactuel}}</div>
    </div>
    <div class="advantage">
        <label for="pexbase">Entrez le nombre de Pex accordés à la création : </label>
        <input name="pexbase" type="number">
    </div>
</div>
</form>